/*--navigation sec--*/
.navigation{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(252 119 5);
    height: 63px;
    margin: -25px -8px;
}
/*logo*/
 .logo{
    display:inline-block;
    position: absolute;
    top: -20px;
    left: 34px;
}
.logo img{
    width: 52px;
    height: 53px;
    margin: 15px 0px;
    padding: 0px;
    border-radius: 30px;
}
.logotext{
    font-size: 20px;
    color: rgb(122, 54, 6);
    display: inline-block;
    margin: 55px -62px;
    padding: 3px 4px;
    font-family: 'Bebas Neue', cursive
}
/*navigation work*/
.navbar ul{
    display: flex;
    margin: auto;
    margin-top: 25px;
    margin-left: 810px;
}
.navbar ul span i{
    font-size: 40px;
    margin: 11px 35px;
}
.navtext1{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-right: -29px;
}
.navtext1 a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    padding: 20px 10px;
    color: white;
}
.fa-solid ,.fa-house{
    font-size: 30px;
}
.navtext4{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.navtext4 a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    padding: 20px 10px;
    color:white;
}
.navtext5{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.navtext5 a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    padding: 20px 10px;
    color: white;
}
.navtext6{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.navtext6 a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    padding: 20px 10px;
    color: black;
}
.navtext{
    list-style: none;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.navtext a{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    padding: 20px 10px;
    color: aliceblue;
}
.navtext a:hover{
    color: black;
}
.navtext1 a:hover{
    color: black;
}
.navtext4 a:hover{
    color: black;
}
.navtext5 a:hover{
    color: black;
}
/* offer bar */
.offer-bar{
    margin-top: 26px;
    background: aqua url();
    height: 372px;
    margin-left: -7px;
    width: 101%;
    text-align: center;
}
.flex-div{
    text-align: center;
    display: flex;
    margin-left: 535px;
}
.highlight-h1{
    font-size: 40px;
}
.hurry-1 ,.hurry-2{
    border: 2px solid black;
    height: 200px;
    margin: 10px 30px;
    background-color: red;
    color: #fff;
}

/*footer*/
footer{
    display:inline-block;
    background-color: black;
    color: white;
    height: 50%;
    width: 101%;
    margin: -10px -8px;
}
footer p{
  text-align: center;  
}
/* another footer */
.footer{
    background-color:  rgb(252 119 5);
    height: 100%;
    width: 101%;
    display: flex;
    margin-top: 122px;
    margin-left: -8px;
}
.footer h1 ,.footer p{
    color: white;
}
.about-footer{
    display: inline-block;
    text-align: center;
    margin-left: 51px;
}
.testimoials{
    text-align: center;
    margin-left: 170px;
}
.testimoials p i{
    background-color: red;
}
.contacts{
    text-align: center;
    margin-left: 282px;
}
.contacts a{
    text-decoration: none;
    color: #fff;
}
.contacts p i{
    font-size: medium;
}
